{% load carburant_tags humanize %}
<table class="table striped">
    <thead>
        <tr>
            <th>#</th>
            <th>No carte</th>
            <th>Nom Carte</th>
            <th>Solde</th>
        </tr>
    </thead>
    <tbody>
        {% for card in card_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ card.card_number }}</td>
                <td>{{ card.card_name }}</td>
                <td>{% get_balance card %}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
