{% load humanize carburant_tags static %}

<div class="row">
    {% for card_item in card_list %}
        <div class="cell-lg-4">
            <div class="card image-header">
                <div class="card-header fg-white text-upper text-bold"
                    style="background-image: url({% static 'img/img6.jpg' %})"
                >
                    {{ card_item.card_name }}
                </div>
                <div class="card-content p-3 text-bold text-upper">
                    <a class=" fg-dark fg-darkRed-hover"
                       href="{{ card_item.get_absolute_url }}"
                       style="text-decoration: none"
                    >Carte No : {{ card_item.card_number }}</a>
                </div>
                <div class="card-footer text-leader bg-grayBlue text-bold fg-white">
                    Solde : {% get_balance card_item %} Fcfa
                </div>
            </div>
        </div>
    {% endfor %}
</div>
