{% load humanize %}

{% for supply in supply_list_of_the_month  %}
    <tr class="text-normal" style="border-bottom: #8b8b8b solid 1px">
        <td>{{ forloop.counter }}</td>
        <td>{{ supply.card }}</td>
        <td>{{ supply.supply_date | date:'d-m-y' }}</td>
        <td>{{ supply.ticket }}</td>
        <td>{{ supply.volume }}</td>
        <td>{{ supply.amount | intcomma }}</td>
        <td>{{ supply.vehicle }}</td>
        <td>{{ supply.service }}</td>
        <td>{{ supply.observation }}</td>
        <td>{{ supply.signature }}</td>
    </tr>
{% endfor %}
