{% load carburant_tags humanize %}

<tbody>
    {% for supply in supplies_of_the_month %}
        <tr class="text-normal">
            <td>{{ forloop.counter }}</td>
            <td>{{ supply.card }}</td>
            <td>{{ supply.supply_date }}</td>
            <td>{{ supply.ticket }}</td>
            <td>{{ supply.volume }}</td>
            <td>{{ supply.amount | intcomma }}</td>
            <td>{{ supply.vehicle }}</td>
            <td>{{ supply.service }}</td>
            <td>{{ supply.observation }}</td>
            <td>{{ supply.signature }}</td>
            <td>
                <a href="{% url 'delete_supply' supply.pk %}" title="Supprimer" class="button alert mif-bin"></a>
                <a href="{% url 'update_supply' supply.pk %}" title="Modifier" class="button info mif-pencil"></a>
            </td>
        </tr>
    {% endfor %}
{#                            <hr>#}
</tbody>
