
<div class="row">
    <div class="cell-md-8 my-search-wrapper"></div>
    <div class="cell-md-4 my-rows-wrapper"></div>
</div>
<table class="table striped"
       data-role="table"
       data-search-wrapper=".my-search-wrapper"
       data-rows-wrapper=".my-rows-wrapper"
       data-rows="2"
       data-rows-steps="2, 5, 10, -1"
>
    <thead>
        <tr>
            <th>Marque</th>
            <th>Immat.</th>
            <th>Châssis</th>
            <th>Modèle</th>
            <th>Utilisateur</th>
            <th>Véh. de sce</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicle_list %}
            <tr>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.registration }}</td>
                <td>{{ vehicle.vin }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.user }}</td>
                <td>
                    {% if vehicle.is_service_vehicle %}
                        <span class="mif-done_all fg-green mif-3x"></span>
                    {% else %}
                        <span class="mif-cross fg-red"></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
