{% extends 'master.html' %}
{% block title %}Ajouter un approvisionnement{% endblock %}
{% load widget_tweaks %}

{% block content %}
    <div class="row mt-10-minus">
        <div class="cell-lg-6 offset-lg-3 cell-md-6 offset-md-3">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <div class="card bg-lightGray simple-shadow">
                    <div class="card-header text-upper text-center bg-darkRed fg-white">
                        Ajouter un nouvel approvisionnement
                    </div>
                    <div class="card-content">
                        <div class="fg-red">{% render_field form.errors %}</div>
                        <div class="container">
                            <div class="row">
                                <div class="cell-lg-12">
                                    <label>Date</label>
                                    {% render_field form.supply_date data-role="calendarpicker" tabindex="1"  %}
                                </div>
                                <div class="cell-12">
                                    <div class="row">
                                        <div class="cell-lg-6">
                                            <label>Ticket</label>
                                            {% render_field form.ticket data-role="spinner" tabindex="2" %}
                                        </div>
                                        <div class="cell-lg-6">
                                            <label for="qte">Quantité (L)</label>
                                            {% render_field form.volume tabindex="3" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-12">
                                    <div class="row">
                                        <div class="cell-lg-6">
                                            <label for="montant">Montant (Fcfa)</label>
                                            {% render_field form.amount data-role="spinner" tabindex="4" %}
                                        </div>
                                        <div class="cell-lg-6">
                                            <label for="km">Km</label>
                                            {% render_field form.odometer data-role="spinner" tabindex="5" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell-12">
                                    <label for="sce">Service</label>
                                    {% render_field form.service tabindex="6" %}
                                </div>
                                <div class="cell-12">
                                    <label for="sign">Signature</label>
                                    {% render_field form.signature tabindex="7" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell-6">
                                    <label for="car">Véhicule</label>
                                    {% render_field form.vehicle tabindex="9" %}
                                </div>
                                <div class="cell-6">
                                    <label for="card">No carte</label>
                                    {% render_field form.card tabindex="10" data-role="select" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell-12 ">
                                    <label for="obs">Observations</label>
                                    {% render_field form.observation data-role="textarea" data-auto-size="false" rows="4" tabindex="11" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="button alert outline ml-1 w-100" tabindex="12">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
