{% extends 'master.html' %}
{% block title %}Tableau de bord{% endblock title %}
{% load humanize carburant_tags %}

{% block content %}
    <div class="cell-lg-10 offset-lg-1">
        <div class="row border-bottom bd-teal border-5 py-5 my-3 bg-grayBlue">
            <div class="container cell-md-12">
                <div class="text-center">
                <a class="mr-5" href="{% url 'new_card' %}">
                    <button class="image-button bg-darkRed-hover fg-white-hover">
                        <span class="mif-discover credit-card icon"></span>
                        <span class="caption text-upper">Nouvelle carte</span>
                    </button>
                </a>
                <a class="mr-5" href="{% url 'new_vehicle' %}">
                    <button class="image-button  bg-darkRed-hover fg-white-hover">
                        <span class="mif-bus icon"></span>
                        <span class="caption text-upper">Nouveau véhicule</span>
                    </button>
                </a>
                <a class="" href="{% url 'create_supply' %}">
                    <button class="image-button bg-darkRed-hover fg-white-hover">
                        <span class="mif-gas-station icon"></span>
                        <span class="caption text-upper">Nouvel Approvisionnement</span>
                    </button>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-md-4">
                <div class="more-info-box bg-red fg-white">
                    <div class="content">
                        <h2 class="mb-0 text-bold">
                            {% if supplies_count < 10 %}
                                0{{ supplies_count }}
                            {% else %}
                                {{ supplies_count }}
                            {% endif %}
                        </h2>
                        <div class="text-upper">Approvisionnements</div>
                    </div>
                    <div class="icon">
                        <span class="mif-gas-station"></span>
                    </div>
                    <a href="{% url 'supplies' %}" class="more">Voir les approvisionnements <span class="mif-arrow-right"></span></a>
                </div>
            </div>

            <div class="cell-md-4">
                <div class="more-info-box bg-red fg-white">
                    <div class="content">
                        <h2 class="mb-0 text-bold">
                            {% if cards_count < 10 %}
                                0{{ cards_count }}
                            {% else %}
                                {{ cards_count }}
                            {% endif %}
                        </h2>
                        <div class="text-upper">Cartes</div>
                    </div>
                    <div class="icon">
                        <span class="mif-credit-card"></span>
                    </div>
                    <a href="{% url 'cards' %}" class="more">Voir toutes les cartes <span class="mif-arrow-right"></span></a>
                </div>
            </div>

            <div class="cell-md-4">
                <div class="more-info-box bg-red fg-white">
                    <div class="content">
                        <h2 class="mb-0 text-bold ">
                            {% if vehicles_count < 10 %}
                                0{{ vehicles_count }}
                            {% else %}
                                {{ vehicles_count }}
                            {% endif %}
                        </h2>
                        <div class="text-upper">Véhicules</div>
                    </div>
                    <div class="icon">
                        <span class="mif-truck"></span>
                    </div>
                    <a href="{% url 'vehicles' %}" class="more">Voir tous les véhicules de service <span class="mif-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <hr class="border-bottom border-5 bd-teal my-2">
        <div class="row">
            <div class="cell-lg-8">
                <div class="card">
                    <div class="card-header text-leader bg-teal text-upper fg-white text-bold">
                        Liste des véhicles de service
                    </div>
                    <div class="card-content py-2 px-5">
                        {% vehicle_list %}
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="card">
                    <div class="card-header text-leader bg-teal text-upper fg-white text-bold">
                        Liste des cartes de carburants
                    </div>
                    <div class="card-content py-2 px-5">
                        {% card_dashboard_list %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
