{% extends 'master.html' %}
{% load humanize carburant_tags %}
{% block title %}Carte No {{ card.card_number }}{% endblock title %}
{% block navbar %}{% endblock %}

{% block content %}

    <div class="cell-lg-12">
        <div class="">
            <div class="panel">
                <div class="panel-title text-leader d-flex flex-justify-center text-upper text-bold bg-grayBlue fg-white">
                    Carte N° {{ card.card_number }}
                    ({% recharge_period card "%b %Y" %})
{#                    {% for item in card.recharges.all %}#}
{#                        #}
{#                    {% endfor %}#}
                </div>
                <hr>
                <div class="panel-content">
                    <table class="table striped table-border bg-lightGray table-border" style="width: 100%">
                        <thead class="bg fg-white text-upper">
                            <tr>
                                <th>#</th>
                                <th>Carte</th>
                                <th>Date</th>
                                <th>Ticket</th>
                                <th>Qté</th>
                                <th>Montant</th>
                                <th>Véhicule</th>
                                <th>Service</th>
                                <th>Observation</th>
                                <th>Signature</th>
                            </tr>
                        </thead>

                        <tbody style="font-size: 16px; margin-bottom: 30px; color: #0b4059; border-bottom: #0b4059 solid 2px">
                            {% supplies_for_this_month card %}
                        </tbody>
                        <tfoot class="bg-lightTaupe text-upper">
                            <tr>
                                <td colspan="8" class="no-border"></td>
                                <td>Dotation</td>
                                <td class="place-right">{{ card.initial_amount | intcomma }} Fcfa</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="no-border"></td>
                                <td>Conso.</td>
                                <td class="place-right">{{ total | intcomma }} Fcfa</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="no-border"></td>
                                <td>Solde</td>
                                <td class="place-right">{{ card.balance | intcomma }} Fcfa</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <style>
        .panel-title {
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            color: #0b4059;
            font-weight: bold;
        }

        thead, tbody {
            background-color: white;
            text-align: center;
        }

        tfoot {
            background-color: #b9d7f5;
            text-transform: uppercase;
            font-weight: bold;
            color: #161515;
        }
        table {
            border-collapse: collapse;
            margin: 20px auto;
        }

        tr:nth-child(even) {
            background-color: #e9ebec;
        }

        th {
            background-color: #0b4059;
            color: white;
        }

        th, td {
            border: #0a1418 solid 1px;
            padding: 2px 3px;
        }

        td.no-border {
            border: none!important;
            background-color: white!important;
        }

        .place-right {
            text-align: right;
        }
    </style>
{% endblock %}
