{% extends 'master.html' %}
{% load widget_tweaks humanize carburant_tags %}
{% block title %}Liste Approvisionnement{% endblock %}

{% block content %}
    <div class="cell-lg-12">
        <div class="">
            <div class="panel">
                {% if card %}
                    <div class="panel-title text-leader d-flex flex-justify-center text-upper text-bold bg-grayBlue fg-white">
                        Carte {{ card.card_name }}
                        ({% recharge_period card "%b %Y" %})
{#                        {% for item in card.recharges.all %}#}
{#                            ( {{ item.recharge_period | date:'b. Y' }} )#}
{#                        {% endfor %}#}
                    </div>
                {% else %}
                    <div class="panel-title text-leader d-flex flex-justify-center text-upper text-bold bg-grayBlue fg-white">
                        Liste des approvisionnements [ {{ today | date:'b Y' }} ]
                    </div>
                {% endif %}
                <div class="panel-content">
                    <div class="text-center">
{#                        {% include 'query_form.html' %}#}
                        {% if card %}
                            <a href="{% url 'export_pdf' card.pk %}" target="_blank" style="text-decoration: none" class="">
                                <button class="image-button bg-teal fg-white text-upper">
                                    <span class="mif-print icon"></span>
                                    <span class="caption">Imprimer</span>
                                </button>
                            </a>
                            <a href="{% url 'csv' card.pk %}">
                                <button class="image-button bg-teal fg-white text-upper icon-right">
                                    <span class="mif-file-excel icon"></span>
                                    <span class="caption">Exporter vers excel</span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                    <table class="table striped table-border bg-lightGray">
                        <thead class="bg fg-white text-upper">
                            <tr>
                                <th>#</th>
                                <th>Carte</th>
                                <th>Date</th>
                                <th>Ticket</th>
                                <th>Qté</th>
                                <th>Montant</th>
                                <th>Véhicule</th>
                                <th>Service</th>
                                <th>Observation</th>
                                <th>Signature</th>
                                {% if card %}
                                    <th>Options</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for supply in supplies %}
                                <tr class="text-normal">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{{ supply.card.get_absolute_url }}">{{ supply.card }}</a>
                                    </td>
                                    <td>{{ supply.supply_date }}</td>
                                    <td>{{ supply.ticket }}</td>
                                    <td>{{ supply.volume }}</td>
                                    <td>{{ supply.amount | intcomma }}</td>
                                    <td>{{ supply.vehicle }}</td>
                                    <td>{{ supply.service }}</td>
                                    <td>{{ supply.observation }}</td>
                                    <td>{{ supply.signature }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>


                        {% if card %}
                            {% supplies_of_the_month card %}
                            <tfoot class="bg-lightTaupe text-upper">
                            <tr>
                                <td colspan="9"></td>
                                <td>Dotation</td>
                                <td>{{ card.initial_amount | intcomma }} Fcfa</td>
                            </tr>
                            <tr>
                                <td colspan="9"></td>
                                <td>Consommation</td>
                                <td>{{ consumption.amount_expensed | intcomma }} Fcfa</td>
                            </tr>
                            <tr>
                                <td colspan="9"></td>
                                <td>Solde</td>
                                <td>{{ balance | intcomma }} Fcfa</td>
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

