{% extends 'master.html' %}
{% block title %}Confirmation{% endblock %}

{% block content %}
    <form method="post" class="bg-teal py-10 px-20" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        {% csrf_token %}
        <p class="fg-white text-leader">Etes-vous sûr de vouloir supprimer "{{ object }}"?</p>
        <br>
        <p><input type="submit" value="Confirmer"></p>
    </form>
{% endblock %}
