{% extends 'master.html' %}
{% block title %}Ajouter un nouveau véhicule{% endblock title %}

{% block content %}
    <div class="cell-md-4 offset-md-4 cell-sm-12 ">
        <div class="text-center">
            <div class="card bd-teal">
                <form action="" method="post">
                    <div class="card-header text-bold text-center text-leader text-upper bg-grayBlue fg-white">
                        Enregistrer un nouveau véhicule
                    </div>
                    <div class="card-content px-5 py-2">
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="button bg-grayBlue px-10 fg-white" value="Valider">
                        <input type="reset" class="button bg-dark px-10 fg-white" value="Annuler">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}