{% extends "master.html" %}
{% block title %}Liste des véhicules de service{% endblock title %}

{% block content %}
    <div class="row text-leader text-bold text-upper bg-darkGray py-5 fg-white text-center w-100">
        <div class="cell-12">
            Liste des véhicules de services
        </div>
    </div>
    <div class="row">
        {% for vehicle in vehicles %}
            <div class="cell-lg-4">
                <div class="card image-header">
                    <div class="card-header fg-white text-upper text-bold fg-darkBlue"
    {#                    style="background-image: url({% static 'img/img6.jpg' %})"#}
                    >
                        {{ vehicle.brand }} {{ vehicle.model }}
                    </div>
                    <div class="card-content p-3 text-bold text-upper">
                        No Châssis : {{ vehicle.vin }}
                    </div>
                    <div class="card-footer text-leader bg-grayBlue text-bold fg-white">
                         <span class="small">Immat. No:</span> {{ vehicle.registration }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}