{% extends 'master.html' %}
{% load widget_tweaks humanize carburant_tags %}
{% block title %}Resultat de recherche{% endblock %}

{% block content %}
    <div class="cell-lg-12">
        <div class="">
            <div class="panel">
                <div class="panel-title text-leader d-flex flex-justify-center text-upper text-bold bg-grayBlue fg-white">
                    Liste des approvisionnements du [ {{ min_date }} ] au
                    [ {{ max_date }} ]
                </div>
                <div class="panel-content">
                    <div class="text-center">
                        {% include 'query_form.html' %}
                    </div>
                    <table class="table striped table-border bg-lightGray">
                        <thead class="bg fg-white text-upper">
                            <tr>
                                <th>#</th>
                                <th>Carte</th>
                                <th>Date</th>
                                <th>Ticket</th>
                                <th>Qté</th>
                                <th>Montant</th>
                                <th>Véhicule</th>
                                <th>Service</th>
                                <th>Observation</th>
                                <th>Signature</th>
                                {% if card %}
                                    <th>Options</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for supply in queries %}
                                <tr class="text-normal">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{{ supply.card.get_absolute_url }}">{{ supply.card }}</a>
                                    </td>
                                    <td>{{ supply.supply_date }}</td>
                                    <td>{{ supply.ticket }}</td>
                                    <td>{{ supply.volume }}</td>
                                    <td>{{ supply.amount | intcomma }}</td>
                                    <td>{{ supply.vehicle }}</td>
                                    <td>{{ supply.service }}</td>
                                    <td>{{ supply.observation }}</td>
                                    <td>{{ supply.signature }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>


                        {% if request.GET.card %}
                            {% supplies_of_the_month card %}
                            <tfoot class="bg-lightTaupe text-upper">
                                <tr>
                                    <td colspan="9"></td>
                                    <td>Dotation</td>
                                    <td>{{ card.initial_amount | intcomma }} Fcfa</td>
                                </tr>
                                <tr>
                                    <td colspan="9"></td>
                                    <td>Consommation</td>
                                    <td>{{ consumption.amount_expensed | intcomma }} Fcfa</td>
                                </tr>
                                <tr>
                                    <td colspan="9"></td>
                                    <td>Solde</td>
                                    <td>{{ balance | intcomma }} Fcfa</td>
                                </tr>
                            </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

