<form action="{% url 'search:search' %}" method="get" class="inline-form flex-justify-center mb-2" style="background-color: #f6e2b4">
    <div class="form-group row flex-justify-center cell-md-8">
        <label for="period" style="line-height: 15px" class="">Choisir une période</label>
        <input type="date" id="period" class="cell-md-3 w-33-md w-100-sm"
               data-role="calendarpicker" name="minDate" value="{{ request.GET.minDate }}">
        <input type="date" class="cell-md-3 w-33-md w-100-sm"
               data-role="calendarpicker" name="maxDate" value="{{ request.GET.maxDate }}">
        {% if card %}
            <input type="hidden" name="card" value="{{ card }}">
        {% endif %}
        <button class="button bg-dark fg-white">Afficher</button>
    </div>
</form>
